<div id="AboutUs" class="headeraboutus bg-dark">
  <h1>About us</h1>
</div>

<div class="row justify-content-center custom-padding bg-dark">
  <div class="item features-image сol-12 col-md-6 col-lg-4">
    <div class="item-wrapper">
      <div class="item-img">
        <img src="assets/images/dualarm_2-1024x683.jpg">
      </div>
      <div class="item-content">
        <p class="mbr-text mbr-fonts-style mt-3 display-4">
          <strong>
            We aim to speeds up the rescue process without endangering the rescuers.
          </strong><br>
        </p>
      </div>

    </div>
  </div>
  <div class="item features-image сol-12 col-md-6 col-lg-4">
    <div class="item-wrapper">
      <div class="item-img">
        <img src="assets/images/image001.jpg">
      </div>
      <div class="item-content">
        <p class="mbr-text mbr-fonts-style mt-3 display-4">
          We dispatch the UGV, which can recognise faces and track hand motion. During a disaster or nuclear accident, this aids in saving more lives by sending the location of any survivors. Other dangers that may provide a difficulty are the inability to move in some locations, changes in the weather, and storms, therefore it will require some special adjustments to the UGV's external construction to mitigate these risks.
        </p>
      </div>

    </div>
  </div>
  <div class="item features-image сol-12 col-md-6 col-lg-4">
    <div class="item-wrapper">
      <div class="item-img">
        <img src="assets/images/asvasv-min.jpg">
      </div>
      <div class="item-content">

        <p class="mbr-text mbr-fonts-style mt-3 display-4">
          In the event of a structure collapse due to a disaster such as a nuclear accident, release of hazardous materials, floods, earthquakes, and wildfires, we need to determine the situation if anyone intervenes quickly to save their lives with a UGV. 1.2 Intended Audience: government, military, rescue companies.
        </p>
      </div>

    </div>
  </div>


</div>
